{% extends "website/base.html" %}

{% block main %}
    <h2>Add Tag</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Tag</button>
    </form>

    <h2>Existing Tags</h2>
    <form method="post"> <!-- 削除用のフォーム -->
        {% csrf_token %}
        <ul>
            {% for tag in tags %}
                <li>
                    <label for="tag_{{ tag.id }}">
                        {{ tag.name }}
                    </label>
                    <input type="checkbox" id="tag_{{ tag.id }}" name="selected_tags" value="{{ tag.id }}">
                    <button class="delete-btn" type="submit" name="delete_tag" value="{{ tag.id }}">Delete</button> <!-- 削除ボタン修正 -->
                </li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}