{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>四天王</title>
    <meta name="description" content="sample text">
    <link rel="stylesheet" href="{% static 'sanitize.css' %}">
    <link rel="stylesheet" href="{% static 'navbar_left.css' %}">
    <link rel="stylesheet" href="{% static 'Elite_four.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Noto+Sans+JP:wght@100;400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;800&display=swap" rel="stylesheet">
    
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="./assets/images/favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="./assets/images/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
    {% include "navbar_left.html" %}

<!-###################################################  Elite  #####################################################################->
<div class="elite">
    <a href="https://www.youtube.com/@GawrGura" target="_blank">
        <div class="elite-img">
            <img src="{% static 'スクリーンショット (148).png' %}" alt="Alternative text for the image">
            <div class="elite-text">
                <h2 class="elite-name">Gawr Gura Ch. hololive-EN</h2>
            </div>
        </div>
    </a>
</div>

<div class="elite">
    <a href="https://www.youtube.com/@ShotosTwitchVODs" target="_blank">
        <div class="elite-img">
            <img src="{% static 'スクリーンショット (155).png' %}" alt="Alternative text for the image">
            <div class="elite-text">
                <h2 class="elite-name">Shoto's Twitch VODs</h2>
            </div>
        </div>
    </a>
</div>

<div class="elite">
    <a href="https://www.youtube.com/@HoushouMarine" target="_blank">
        <div class="elite-img">
            <img src="{% static 'スクリーンショット (153).png' %}" alt="Alternative text for the image">
            <div class="elite-text">
                <h2 class="elite-name">Marine Ch. 宝鐘マリン</h2>
            </div>
        </div>
    </a>
</div>

<div class="elite">
    <a href="https://www.youtube.com/@MoriCalliope" target="_blank">
        <div class="elite-img">
            <img src="{% static 'スクリーンショット (152).png' %}" alt="Alternative text for the image">
            <div class="elite-text">
                <h2 class="elite-name">Mori Calliope Ch. hololive-EN</h2>
            </div>
        </div>
    </a>
</div>


</body>