@charset "utf-8";
@import url("https://use.typekit.net/dlv3ztc.css");

/*
############################################################## footer ###################################################
*/

*{
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-list{
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer-line{
    border-color: #444;
}
.footer-copyright{
    display: block;
    text-align: center;
    padding: 10px;
}